.home-table-container {
    width: 100%;
    margin-top: 40px;
    overflow: auto;
    max-height: 80%;
    padding: 20px;
}

.home-table-header {
    background: var(--primary) !important;
}

.home-table-header-text {
    color: white !important;
    font-size: 20px !important;
}

.home-table {
    border-collapse: collapse;
    width: 100%;
}

.home-table-row:nth-child(2n + 1) {
    background: var(--grey);
}

.home-table-cell-text {
    font-size: 17px;
}

.home-table-no-data {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-table-no-data-text {
    font-size: 25px;
    font-weight: bold;
}