.container {
    flex: 1;
    background: #fff;
    padding: 0 20px;
    height: 100%;
}

.header-container{
    text-align: center;
}

.header {
    align-self: center;
    color: #FAA645;
    font-size: 80px;
    font-weight: bold;
    width: 100%;
    margin: 30px;
    text-align: center;
    font-family: serif;
}

.row{
    display: flex;
    justify-content: space-around;
}

.input-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.label {
    color: #FAA645;
    font-size: 25px;
    font-weight: bold;
    font-family: serif
}

.input {
    width: 35vw;
    height: 4vh;
    background: #EBEBEB;
    border-radius: 5px;
    color: #000;
    padding-top: 20px;
    padding-left: 10px;
    border-width: 2px;
    border-color: transparent;
    outline: none;
}

.input-error{
    width: 35vw;
    height: 3vh;
    background: #EBEBEB;
    border-radius: 5px;
    color: #000;
    padding-top: 20px;
    padding-left: 10px;
    border: 2px solid red;
    outline: none;
}

.error-message{
    color: red;
    margin-top: 2px;
    padding: 0;
}

.no-message{
    visibility: hidden;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.submit-button {
    background: #133D8D;
    width: 18vw;
    height: 6vh;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: none;
}

.cancel-button {
    background: #FAA645;
    width: 18vw;
    height: 6vh;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: none;
}

.submit-button-text {
    color: #FFF;
    font-size: 30px
}

.cancel-button-text {
    color: #FFF;
    font-size: 30px
}

.error-input {
    background-color: rgba(255,0,0,.5);
}
