.generic-chart-container {
    height: 90%;
    position: relative;
}

.generic-chart-zoom-options-list {
    display: flex;
    justify-content: space-evenly;
}

.VictoryContainer {
    height: 80% !important;
}

.chart-zoom-button {
    font-weight: bold !important;
    width: 25% !important;
}